/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */
/*header*/

/*clic provisoire*/

p {
    color: black;
    font-size: 50px;
    text-align: center;
}

h1 {
    text-align: center;  
}

    
header h1 :nth-child(2) {
    display: none;
}
header h1 :nth-child(3) {
    display: none;
}
header h1 :nth-child(5) {
    display: none;
}


  
header {
    height: 100vh;
    width: 100%;
}

header div picture img {
    width: 300px;
    height: 300px;
}

header div {
    display: flex;
    justify-content: center;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}



/*section 1*/

@keyframes samba2 {
    From {
        opacity: 0;
    }
    To {
        opacity: 5;
    }}

@keyframes samba1 {
    From {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}



#section-1 div:nth-child(2):hover {
    animation-name: samba2;
    animation-delay: 0ms;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#section-1 div:nth-child(1) img:hover {
    animation-name: samba1;
    animation-delay: 0ms;
    animation-duration: 3s;
    animation-iteration-count: 1;
    
}

#section-1 div {
    margin: 15px;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section-1 {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section 2*/
#section-2 {
    height: 100vh;
    width: 100%;
}


*{
    margin: 0; padding: 0;
    /* ... here, code for anchor link animations */
}


body {background-color: burlywood;}



#footer .copyright  {
    margin: 200px;
    text-align: center;
    font-size: 30px;
}
a {
    font-size: 40px;
    color: black;
    width: 100%;
}

/**
 * ...
 * ... Mobile fisrt
 * ...
 * ... your code here
 * ...
 */
